<% if params[:action] == 'search' %>
  <div class="results-block">
    <%= bootstrap_flash %>
  </div>
<% end %>
<% if @stock %>
  <div class="well results-block">
    <strong>Symbol: </strong> <%= @stock.ticker %>
    <strong>Name: </strong> <%= @stock.name %>
    <strong>Price: </strong> <%= @stock.last_price %>
    
    <% if current_user.can_add_stock?(@stock.ticker) %>
      <%= link_to "ポートフォリオに加える", 
        user_stocks_path(user: current_user, stock_ticker: @stock.ticker),
                                class: "btn btn-xs btn-success", method: :post %>
    <% else %>
      <span class="label label-default">
        株式は追加できません！既に
        <% if !current_user.under_stock_limit? %>
         10株に達しています
        <% end %>
        <% if current_user.stock_already_added?(@stock.ticker) %>
          この株が追加されています
        <% end %>
      </span>
    <% end %>
  </div>    
<% end %>


